<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Care System</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <style>
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <span class="fs-4">Health Care System</span>
        
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
              </ul>
        
              <div class="col-md-3 text-end">
                  {%if user.is_authenticated%}
                    <span class="fs-5  me-4">User: {{ user.username }}</span>
                    <a href="{% url 'logout'%}"><button type="button" class="btn btn-outline-primary me-2">Logout</button></a>
                  {% else%}
                  <a href="login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                  <a href="signup"><button type="button" class="btn btn-outline-primary">Sign-up</button></a>
                  {% endif %}
              </div>
            </header>
            {%if messages%}
                {% for message in messages%}
                <div class="alert alert-success" role="alert">
                  {{message}}
                </div>
                {% endfor %}
            {% endif %}
            {%if user.is_authenticated%}
            <h1 style="text-align:center">Dashboard</h1>
            <h2>welcome,</h2> 
            <p>
              <img width = "240" height="240" src ="/media/{{user_type.profile_picture}}"/>
              <br/>
            {%if user.is_doctor%}
              User Type = Doctor
            {% else%}
              User Type = Patient
            {% endif %}
            <br/>
            Username = {{user.username}}
            <br/>
            Full Name = {{user_type.first_name}} {{user_type.last_name}}
            <br/>
            Email = {{user_type.email}}
            <br/>
            <b>Address</b>
            <br/ >
            {{user_type.address_line_1}}, {{user_type.city}}, {{user_type.state}}
            <br/> 
            Zip Code = {{user_type.pin_code}}
          </p>
          {%if user.is_doctor%}
          <a href="{% url 'published-posts'%}"><button type="button" class="btn btn-outline-success me-4">Show Published Posts</button></a>
          <a href="{% url 'draft-posts'%}"><button type="button" class="btn btn-outline-success me-4">Show Draft Posts</button></a>
          <a href="{% url 'add-post'%}"><button type="button" class="btn btn-outline-success me-4">Add Post</button></a>
          {% endif %}
          {%if user.is_patient%}
          <a href="{% url 'posts'%}"><button type="button" class="btn btn-outline-success me-2">Posts</button></a>
          <a href="{% url 'showcategory'%}"><button type="button" class="btn btn-outline-success me-2">Categories</button></a>
          {% endif %}
          
          </div>
          {% else%}
          <div class="alert alert-danger" role="alert">
            Please Login To View Access Page
          </div>
          {% endif %}
        </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>